.roleteForma {
  background: rgba(235, 233, 233, 0.664);
  padding: 10px 20px;
  max-width: 500px;
}
.roleteForma h4 {
  margin: 15px 0;
}
.roleteFormaGrid {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-gap: 10px;
}
.roleteForma input {
  font-size: 18px;
}
.roleteForma select {
  font-size: 18px;
}
.roleteFormaBtn {
  padding: 10px 30px;
  margin-top: 60px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 18px;
  background: rgb(15, 58, 126);
  border: none;
  color: white;
  transition: all 0.1s ease-in-out;
  border: 1px solid rgb(15, 58, 126);
}

.roleteFormaBtn:hover {
  color: rgb(15, 58, 126);
  background: transparent;
  border: 1px solid rgb(15, 58, 126);
}
