.roleteNalogGrid {
  display: flex;
}
.roleteNalogGrid li {
  flex-basis: 100%;
  text-align: center;
  border: 1px solid black;
}
.brLamela {
  font-size: 10px;
  font-weight: bold;
  margin-top: -2px;
  margin-left: 5px;
  position: absolute;
}
